src/main/resources/edu/emory/abid/jaxb/reference.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="reference">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="age">
          <xs:complexType>
            <xs:element name="freeValue" type="xs:string" />
            <xs:attribute name="section" type="xs:string" use="required" />
            <xs:attribute name="stem" type="xs:string" use="required" />
            <xs:attribute name="uiControl" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="collectionDate">
          <xs:complexType>
            <xs:element name="freeValue" type="xs:string" />
            <xs:attribute name="section" type="xs:string" use="required" />
            <xs:attribute name="stem" type="xs:string" use="required" />
            <xs:attribute name="uiControl" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="genders">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="gender">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="selected" type="xs:boolean" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="section" type="xs:string" use="required" />
            <xs:attribute name="stem" type="xs:string" use="required" />
            <xs:attribute name="uiControl" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="bbSummaries">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="bbSummary">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="selected" type="xs:boolean" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="section" type="xs:string" use="required" />
            <xs:attribute name="stem" type="xs:string" use="required" />
            <xs:attribute name="uiControl" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="questionSCD">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="scd">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="selected" type="xs:boolean" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="section" type="xs:string" use="required" />
            <xs:attribute name="stem" type="xs:string" use="required" />
            <xs:attribute name="uiControl" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="aboType">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="abo">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="selected" type="xs:boolean" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="section" type="xs:string" use="required" />
            <xs:attribute name="stem" type="xs:string" use="required" />
            <xs:attribute name="uiControl" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="rhType">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="rh">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="antigenNegFreq" type="xs:decimal" use="required" />
                      <xs:attribute name="selected" type="xs:boolean" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="section" type="xs:string" use="required" />
            <xs:attribute name="stem" type="xs:string" use="required" />
            <xs:attribute name="uiControl" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="antibodyScreen">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="screen">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="selected" type="xs:boolean" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="antibodies">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="antibody">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="sickleCell" type="xs:boolean" use="required" />
                      <xs:attribute name="selected" type="xs:boolean" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="section" type="xs:string" use="required" />
            <xs:attribute name="stem" type="xs:string" use="required" />
            <xs:attribute name="uiControl" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="otherAllo">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="allo">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="selected" type="xs:boolean" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="section" type="xs:string" use="required" />
            <xs:attribute name="stem" type="xs:string" use="required" />
            <xs:attribute name="uiControl" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="resultAutoControl">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="autoControl">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="selected" type="xs:boolean" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="section" type="xs:string" use="required" />
            <xs:attribute name="stem" type="xs:string" use="required" />
            <xs:attribute name="uiControl" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="resultDAT">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="dat">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="selected" type="xs:boolean" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="section" type="xs:string" use="required" />
            <xs:attribute name="stem" type="xs:string" use="required" />
            <xs:attribute name="uiControl" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="rhogam">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="rhogamQ">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="selected" type="xs:boolean" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="section" type="xs:string" use="required" />
            <xs:attribute name="stem" type="xs:string" use="required" />
            <xs:attribute name="uiControl" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="resultEluate">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="eluate">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="selected" type="xs:boolean" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="section" type="xs:string" use="required" />
            <xs:attribute name="stem" type="xs:string" use="required" />
            <xs:attribute name="uiControl" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="resultEluateAntibodies">
          <xs:complexType>
            <xs:element name="freeValue" type="xs:string" />
            <xs:attribute name="section" type="xs:string" use="required" />
            <xs:attribute name="stem" type="xs:string" use="required" />
            <xs:attribute name="uiControl" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="antigenNeg">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="antigen">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="antigenNegFreq" type="xs:decimal" use="required" />
                      <xs:attribute name="respectIfAntigenNeg" type="xs:boolean" use="required" />
                      <xs:attribute name="selected" type="xs:boolean" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="section" type="xs:string" use="required" />
            <xs:attribute name="stem" type="xs:string" use="required" />
            <xs:attribute name="uiControl" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="phenotypeSCD">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="antigenSCD">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="antigenNegFreq" type="xs:decimal" use="required" />
                      <xs:attribute name="selected" type="xs:boolean" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="section" type="xs:string" use="required" />
            <xs:attribute name="stem" type="xs:string" use="required" />
            <xs:attribute name="uiControl" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>