src/main/resources/edu/emory/abid/jaxb/sample.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sample">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="hospital">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="hospitalLoc" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="mrn" type="xs:string" />
        <xs:element name="lastName" type="xs:string" />
        <xs:element name="firstName" type="xs:string" />
        <xs:element name="collectionDate" type="xs:string" />
        <xs:element name="genders">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="gender" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="age" type="xs:string" />
        <xs:element name="bbSummaries">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="bbSummary" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="questionSCD">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SCD" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="aboRhType">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="aboType" type="xs:string" />
              <xs:element name="rhType" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="antibodyScreen" type="xs:string" />
        <xs:element name="antibodies">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="antibody" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="otherAllo">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="allo" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="resultDAT">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DAT" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="rhogam" type="xs:string" />
        <xs:element name="resultEluate">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="eluate" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="antibodiesEluate">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="eluateAntibody" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="antigenNeg">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="antigen" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="phenotypeSCD">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="antigenSCD" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="residentName" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>